<div class="products">
  <h2>
    <%= product.name %>
  </h2>
  <% if product.image.present? %>
    <p>
      <%= image_tag product.image, :width => "450", :height => "300" %>
    </p>
  <% else %>
    <p class="no_image">
      <em>No customer image.</em>
    </p>
  <% end %>
  <p>
    <b>Category</b>
    <% if product.category.present? %>
      <%= product.category.name %>
    <% else %>
      No Category
    <% end %>
  </p>
  <p>
    <b>Price:</b>
    <%= product.price %>
  </p>
  <p>
    <b>Description:</b>
    <%= product.description %>
  </p>
</div>