<div class="products">
  <div class="actions">
    <%= link_to 'edit', edit_products_path(products) %>
    <%= link_to 'x', products, :method => :delete, :confirm => "Are you sure you want to delete #{product.name}?" %>
  </div>
  <h2>
    <%= product.name %>
  </h2>
  <% if product.image.present? %>
    <p>
      <%= image_tag product.image %>
    </p>
  <% else %>
    <p class="no_image">
      <em>No customer image.</em>
    </p>
  <% end %>
  <p>
    <b>Category</b>
    <% if product.category.present? %>
      <%= product.category.name %>
    <% else %>
      No Category
    <% end %>
  </p>
  <p>
    <b>Price:</b>
    <%= product.price %>
  </p>
  <p>
    <b>Description:</b>
    <%= product.description %>
  </p>
</div>